{% extends "_global/index.html" %}

{% block title %}
Dashboard - Proizvodi - Dodavanje novog
{% endblock %}

{% block main %}
<h2 class="text-center page-title dashboard-title">Dashboard</h2>
<div class="row">
    <div class="col-lg-3 col-md-12 col-sm-12">
        <div class="list-group">
            <a href="{{ BASE }}admin/categories" class="list-group-item list-group-item-action">Kategorije</a>
            <a href="{{ BASE }}admin/brands" class="list-group-item list-group-item-action">Brendovi</a>
            <a href="{{ BASE }}admin/products" class="list-group-item list-group-item-action active">Proizvodi</a>
            <a href="{{ BASE }}admin/colors" class="list-group-item list-group-item-action">Boje</a>
            <a href="{{ BASE }}admin/sizes" class="list-group-item list-group-item-action">Velicine</a>
        </div>
    </div>

    <div class="col-lg-9 col-md-12 col-sm-12">
        <div class="options">
            <a href="{{ BASE }}admin/products"><i class="fa fa-arrow-left"></i></a>
        </div>
        <br />    
        
        <form method="POST" enctype="multipart/form-data" onsubmit="return validateProduct();">
            <div class="form-group">
                <label for="category">Kategorija:</label>
                <div class="input-group">
                    <select class="form-control" name="category" id="category" required>
                        <option>- - -</option>
                        {% for category in categories %}
                            <option value="{{ category.category_id }}">{{ category.name|escape }}</option>
                        {% endfor %}
                    </select>
                    <button type="button" class="btn input-group-append" data-toggle="modal" data-target="#categoryModal">
                        Dodaj novu kategoriju
                    </button>             
                </div>    
            </div> 
    
            <div class="form-group">
                <label for="brand">Brend:</label>
                <div class="input-group">
                    <select class="form-control" name="brand" id="brand" required>
                        <option>- - -</option>
                        {% for brand in brands %}
                            <option value="{{ brand.brand_id }}">{{ brand.name|escape }}</option>
                        {% endfor %}
                    </select>
                    <button type="button" class="btn input-group-append"  data-toggle="modal" data-target="#brandModal">
                        Doodaj novi brend
                    </button>
                </div>    
            </div>
    
            <div class="form-group">
                <label for="title">Model:</label>
                <input class="form-control" type="text" id="title" name="title" required><br />
                <small class="d-none" id="error-title"></small>
            </div>
    
            <div class="form-group">
                <label for="description">Opis:</label>            
                <textarea class="form-control" rows="4" id="description" name="description" required></textarea><br />
                <small class="d-none" id="error-description"></small>
            </div>
    
            <div class="form-group">
                <label for="material">Materijal:</label>
                <input class="form-control" type="text" id="material" name="material" required><br />
                <small class="d-none" id="error-material"></small>
            </div>
            
            <div class="form-group">
                <label for="price">Cena:</label>
                <input class="form-control" type="number" min="1" step="0.1" id="price" name="price" required>
            </div>
            
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="image" name="image" required accept="image/jpeg, image/png">
                <label class="custom-file-label" for="image">Izaberite sliku...</label>
            </div>
    
            <div class="form-group">
                <button class="btn" type="submit">Dodaj proizvod</button>
            </div>
        </form>
    
        <div class="modal fade" id="categoryModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Dodavanje nove kategorije</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="new_color">Unesite novu kategoriju</label>
                            <input class="form-control" type="text" id="new_category" name="new_category" required><br />
                            <small class="d-none" id="error-category"></small>
                        </div>    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" onclick="addCategory();">Dodaj kategorjiu</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Izadji</button>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="modal fade" id="brandModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Dodavanje novog brenda</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><br />
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="new_size">Unesite novi brend:</label>
                            <input class="form-control" type="text" id="new_brand" name="new_brand" required>
                            <small class="d-none" id="error-brand"></small>
                        </div>    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" onclick="addBrand();">Dodaj brend</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Izadji</button>
                    </div>
                </div>
            </div>
        </div>    
    
        <script src="{{ BASE }}assets/js/validate.js"></script>
        <script src="{{ BASE }}assets/js/brand.js"></script>
        <script src="{{ BASE }}assets/js/category.js"></script>                                                     
    </div>
</div>
{% endblock %}
