{% extends "_global/index.html" %}

{% block main %}
    <h2>Rezultati pretrage</h2>
    {% for product in products %}
        <ul>
            <li>
            <a href="{{ BASE }}product/{{ product.product_id }}">
                {{ product.title|escape }}              
            </a><br />
            <img src="{{ BASE }}assets/uploads/{{ product.path }}" alt="Slika - {{ product.title }}">
            <p>{{ product.description|escape }}</p>
        </ul>    
    {% endfor %}
{% endblock %}

{% block title %}
Rezultati pretrage
{% endblock %}