{% extends "_global/index.html" %}

{% block main %}
    <h2>Spisak svih proizvoda:</h2>
    <form method="POST" action="{{ BASE }}filter" enctype="multipart/form-data" onsubmit="return validateProduct();">        
        <div class="form-group">
            <label for="category">Kategorija:</label>
            <select class="form-control"  name="category" id="category">
                <option value="">- - -</option>
                {% for category in categories %}
                    <option value="{{ category.name }}" {% if category.category_id == product.category_id %} selected {% endif %}>{{ category.name|escape }}</option>
                {% endfor %}
            </select>                      
        </div>

        <div class="form-group">
            <label for="brand">Brend:</label>
            <select class="form-control"  name="brand" id="brand">
                <option value="">- - -</option>
                {% for brand in brands %}
                    <option value="{{ brand.name }}" {% if brand.brand_id == product.brand_id %} selected {% endif %}>{{ brand.name|escape }}</option>
                {% endfor %}
            </select>                       
        </div>

        <div class="form-group">
            <label for="material">Materijal:</label>
            <input class="form-control"  type="text" id="material" name="material" value="{{ product.material|escape }}">            
        </div>

        <div class="form-group">
            <label for="color">Boja:</label>
            <select class="form-control"  name="color" id="color">
                <option value="">- - -</option>                
                {% for color in colors %}
                    <option value="{{ color.name }}" {% if color.color_id == productVersion.color_id %} selected {% endif %}>{{ color.name|escape }}</option>
                {% endfor %}
            </select>                       
        </div>
    
        <div class="form-group">
            <label for="size">Velicina:</label>
            <select class="form-control"  name="size" id="size">
                <option value="">- - -</option>
                {% for size in sizes %}
                    <option value="{{ size.value }}" {% if size.size_id == productVersion.size_id %} selected {% endif %}>{{ size.value|escape }}</option>
                {% endfor %}
            </select>                         
        </div>

        <div class="form-group">
            <button class="btn" type="submit">Filtriraj</button>
        </div>
    </form>
    {% for product in products %}
        <ul>
            <li>
            <label><a href="{{ BASE }}product/{{ product.product_id }}">{{ product.brand|escape }} - {{ product.title|escape }}</a></label><br />
            <img src="{{ BASE }}assets/uploads/{{ product.path }}" alt="Slika - {{ product.title }}">
            <p>{{ product.description|escape }}</p>
            <label>Cena: {{ product.price }}</label><br />
            <label>Kategorija:</label> <a href="{{ BASE }}category/{{ product.category_id }}">{{ product.category|escape }}</a>
        </ul>    
    {% endfor %}
{% endblock %}

{% block title %}
Svi proizvodi
{% endblock %}