{% extends "_global/index.html" %}

{% block main %}
    <a href="#" onclick="addBookmark({{ product.product_id }});">Dodaj u bookmark</a>
    <h2>{{ brand.name }} - {{ product.title|escape }}</h2>
    <img src="{{ BASE }}assets/uploads/{{ image.path }}" alt="Slika - {{ image.title }}">
    <p>{{ product.description|escape }}</p>    
    <p>Cena: {{ product.price }} din.</p>    
    <p>Materijal: {{ product.material|escape }}</p>
    <p>Raspolozive velicine i boje:</p>
    {% if productsInStock is empty %}
        <br />
        <p>Nema na stanju</p>
    {% else %}
        {% for stockProduct in productsInStock %}
            <ul>
                <li>
                    Velicina: {{ stockProduct.size }}<br />
                    Boja: {{ stockProduct.color }}<br />
                    Na stanju: {{ stockProduct.quantity }}            
            </ul>
        {% endfor %}
    {% endif %}    
{% endblock %}

{% block title %}
{{ product.title|escape }}
{% endblock %}