{% extends "_global/index.html" %}

{% block main %}
    <a href="#" onclick="addBookmark({{ product.product_id }});">Dodaj u bookmark</a>
    <h2>{{ product.title|escape }}</h2>
    <p>{{ product.description|escape }}</p>    
    <p>Cena: {{ product.price }} din.</p>    
    <p>Materijal: {{ product.material|escape }}</p>
    <p>Raspolozive velicine i boje:</p>
    {% for stockProduct in productsInStock %}
        <ul>
            <li>
                Velicina: {{ stockProduct.size }}<br />
                Boja: {{ stockProduct.color }}<br />
                Na stanju: {{ stockProduct.quantity }}            
        </ul>
    {% endfor %}
{% endblock %}

{% block title %}
{{ product.title|escape }}
{% endblock %}