{% extends "_global/index.html" %}

{% block main %}
{% spaceless %}
<!-- <p>{{ sessionData }}</p> -->
<div class="row">        
    {% for category in categories %}
        <div class="card list-cards bg-transparent col-12 col-sm-6 col-md-4 col-lg-3 text-center">
            <img class="card-img-top" src="{{ BASE }}assets/img/category_banner/{{ category.path }}" alt="Card image">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{ BASE }}category/{{ category.category_id }}">{{ category.name|escape }}</a>
                </h5>                
            </div>
        </div>
    {% endfor %}
</div>
{% endspaceless %}
{% endblock %}