@import url('https://fonts.googleapis.com/css?family=Exo+2');

::selection {
    background: rgb(234, 167, 0);
    color: #000;
}
::-moz-selection {        
    background: rgb(234, 167, 0);
    color: #000;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #aaa;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #aaa;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #eaa700;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #eaa700;    
}

body {
    background-color: transparent !important;
    font-family: 'Exo 2', sans-serif;
}
html { 
    background: url("../img/main_background_original.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main {
    padding-bottom: 70px;
}

@media only screen and (max-width: 1740px) {
    html {
        background: url("../img/main_background_1740.jpg") no-repeat center center fixed; 
    }
}

@media only screen and (max-width: 1200px) {
    html {
        background: url("../img/main_background_1200.jpg") repeat-y center center fixed; 
    }

    #banner-div {        
        background: url("../img/banner_960.jpg") center center !important;
    }
}

@media only screen and (max-width: 992px) {
    html {
        background: url("../img/main_background_992.jpg") repeat-y center center fixed; 
    }

    #banner-div {        
        background: url("../img/banner_720.jpg") center center !important;
    }

    .list-cards .card-img-top {
        filter: grayscale(20%) !important;
    }    
}

@media only screen and (max-width: 768px) {
    html {
        background: url("../img/main_background_768.jpg") repeat-y center center fixed; 
    }

    #banner-div {        
        background: url("../img/banner_540.jpg") center center !important;
    }

    .card {    
        transform: scale(0.8);
    }
}

* {
    background-color: transparent;
    color: #aaa;
    transition: all 0.5s;
}    

small {
    color: #f00;
}

.custom-file {
    margin: 40px 0 50px 0;
}

header {
    margin-bottom: 50px;
}

button.dropdown-toggle {
    padding-right: 8px;
}

.dropdown-menu {
    background: rgba(200, 200, 200, 0.9) !important;
    color: #212529;
}

.dropdown-item:hover {
    background: rgba(0, 0, 0, 0.8) !important;
    color: #eaa700 !important;
}

.form-control {
    background-color: #000;
    color: #aaa;
}

.form-control:focus {
    color: #495057;
    background-color: #000;
    border-color: #80bdff;
}

#banner-div {
    height: 60px;
    background: url("../img/banner.jpg") center center;
}

nav ul li a {
    padding: 8px 12px !important;
}

nav ul li a:hover {
    color: #eaa700 !important;
    background-color: rgba(200, 200, 200, 0.4) !important;
}

a {
    text-decoration: none !important;
    color: #aaa;
}

nav.navbar-expand-lg {
    background: url("../img/banner.jpg") no-repeat center center fixed !important;
}

nav a:hover {
    color: #eaa700;
}

footer {
    padding: 25px;
}

.btn {
    color: #eaa700;
    border: 1px solid #eaa700;
}

.btn:hover {
    color: #000;
    background-color: #eaa700;
}

.btn:focus {
    outline: none;
    box-shadow: none !important;
    border-color: #eaa700 !important;
    border: 1px solid #eaa700;
}

.btn:hover .fa {
    color: #000;
}

.fa {
    color: #eaa700;

}
input,
select,
option,
textarea {
    color: #eaa700 !important;    
}

input:hover,
select:hover,
textarea:hover {
    border: 1px solid #eaa700;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    box-shadow: none !important;
    border-color: #eaa700 !important;
    border: 1px solid #eaa700;
}

.list-cards {
    border: 1px solid #eaa700;
}

.list-cards:hover .card-img-top {
    filter: none;
    transform: scale(1.05);
}

.list-cards:hover .card-title a {
    color: #eaa700 !important;
}

.list-cards .card-img-top {
    filter: grayscale(100%);
}

.card-product .card-body {
    padding-top: 0px;
}

.card-product h5 a,
.card-product label {
    color: #eaa700 !important;
}

.card {
    cursor: pointer;
    transform: scale(0.95);
}

.logo_small {
    margin-bottom: 7px;
}

.card-product label::before {
    content: "";
    display: block;
    width: 80%;
    height: 1px;
    background: #eaa700;
    margin-bottom: 5px;
}

.filter-div {
    padding-top: 50px;
}

.product-info {
    padding-top: 70px;
}

.product-title,
.product-price {
    color: #eaa700;
}

.card:hover .products-title {
    color: #ead100 !important;
}

span {
    color: #f00;
}

.product-price::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #eaa700;
    margin-bottom: 5px;
}

.stock-div {
    border: 1px solid #eaa700;
    border-radius: 5%;
    background: rgba(234, 167, 0, 0.2); 
}

.stock-div p {
    margin: 1px 0px;
    font-size: 13px;
}

.out-of-stock,
.out-of-stock i {
    color: #ff5e5e;
    text-align: right;
}

.wishlist-button {
    margin-top: 20px;
}

.page-title {
    color: #eaa700;
}

.dashboard-title {
    margin-bottom: 50px;
}

.list-group a {
    background: transparent !important;
    border: 1px solid #aaa;
    color: #aaa;
}

.list-group a:hover {
    border: 1px solid #eaa700;
    color: #eaa700;
    background-color: rgba(200, 200, 200, 0.4) !important;
    /* background: #eaa700 !important; */
}

.list-group a.active {
    background: #eaa700 !important;
    color: #000;
    border: 1px solid #eaa700;
}

table thead tr th,
table tbody tr td {
    border: 1px solid #eaa700 !important;
}

table thead tr {
    background-color: rgba(200, 200, 200, 0.2) !important;
}

table tbody tr:hover {
    background-color: rgba(200, 200, 200, 0.4) !important;
}

table a:hover {
    color: #eaa700;
}

.modal-content {
    background: rgba(20, 20, 20, 0.9) !important;
}

.most-viewed {
    margin-top: 50px;
}

#googleMap {
    height: 400px;
}

.about-us-link {
    color: #eaa700;
}

.about-us-link:hover {
    color: #ead100;
}

.contact-row {
    margin: 50px 0px;
}