.serach-box {
    margin-top: 10px;
}
/** {
    background-color: #333;
    color: #aaa;
}

.bookmarks {
    display: block;
    position: fixed;
    top: 50px;
    right: 0px;
    border: 1px solid #aaa;
    background: #333;
}*/