{% extends "_global/index.html" %}

{% block title %}
Dashboard - Velicine - Dodavanje nove
{% endblock %}

{% block main %}
<div>
    <div class="options">
        <a href="{{ BASE }}admin/sizes">Prikazi sve velicine</a>
    </div>
    <br />
    
    <form method="POST">
        <div class="form-group">
            <label for="size">Velicine:</label>
            <input class="form-control" type="number" min="1" id="size" name="size" required>
        </div>
        
        <div class="form-group">
            <button class="btn" type="submit">Dodaj velicinu</button>
        </div>
    </form>
</div>
{% endblock %}
