{% extends "_global/index.html" %}

{% block title %}
Dashboard - Velicine - Izmena
{% endblock %}

{% block main %}
<div>
    <div class="options">
        <a href="{{ BASE }}admin/sizes/add">Dodaj novu velicinu</a><br />
        <a href="{{ BASE }}admin/sizes">Prikazi sve velicine</a>
    </div>
    <br />
    
    <form method="POST">
        <div class="form-group">
            <label for="size">Velicina:</label>
            <input class="form-control" type="text" min="1" id="size" name="size" value="{{ size.value }}" required>
        </div>
        
        <div class="form-group">
            <button class="btn" type="submit">Izmeni velicinu</button>
        </div>
    </form>
</div>
{% endblock %}
