{% extends "_global/index.html" %}

{% block title %}
Dashboard - Brendovi
{% endblock %}

{% block main %}
<div>
    <h2>Brendovi</h2>
    <div class="options">
        <a href="{{ BASE }}admin/brands/add">Dodaj novi brend</a>
    </div>
    <br />
    <div class="brands table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Naziv</th>
                    <th>Kreiran</th>   
                    <th>Opcija</th>                 
                </tr>
            </thead>

            <tbody>
                {% for brand in brands %}
                <tr>
                    <td>{{ brand.brand_id }}</td>
                    <td>{{ brand.created_at }}</td>
                    <td>{{ brand.name|escape }}</td>
                    <td><a href="{{ BASE }}admin/brands/edit/{{ brand.brand_id }}">Izmeni</a></td>
                </tr>
                {% endfor %}                
            </tbody>
        </table>
    </div>
</div>
{% endblock %}