{% extends "_global/index.html" %}

{% block title %}
Dashboard - Proizvodi - Stanje - Dodavanje novog
{% endblock %}

{% block main %}
<div>
    <div class="options">
        <a href="{{ BASE }}admin/products/stock/{{ brandTitle.product_id }}">Vrati se nazad</a><br />
    </div>
    <br />
    <h2>{{ brandTitle.name }} - {{ brandTitle.title }}</h2>
    
    <form method="POST">    
        <input type="number" id="product_id" name="product_id" value="{{ id}}" hidden>
        <div>
            <label for="color">Boja:</label>
            <select name="color" id="color">
                <option> - - -</option>
                {% for color in colors %}
                    <option value="{{ color.color_id }}">{{ color.name|escape }}</option>
                {% endfor %}
            </select>             
        </div>

        <div>
            <label for="size">Velicina:</label>
            <select name="size" id="size">
                <option>- - -</option>
                {% for size in sizes %}
                    <option value="{{ size.size_id }}">{{ size.value|escape }}</option>
                {% endfor %}
            </select> 
        </div>

        <div>
            <label for="quantity">Stanje</label>
            <input type="number" id="quantity" name="quantity" value="{{ wholeProduct.quantity }}">
        </div>                   

        <div>
            <button type="submit">Dodaj stanje</button>
        </div>
    </form>
</div>
{% endblock %}
