{% extends "_global/index.html" %}

{% block title %}
Dashboard - Boje - Izmena
{% endblock %}

{% block main %}
<div>
    <div class="options">
        <a href="{{ BASE }}admin/colors/add">Dodaj novu boju</a><br />
        <a href="{{ BASE }}admin/colors">Prikazi sve boje</a>
    </div>
    <br />
    
    <form method="POST">
        <div>
            <label for="name">Naziv boje:</label>
            <input type="text" id="name" name="name" value="{{ color.name }}" required pattern=".*[^\s]{3,}.*">
        </div>
        
        <div>
            <button type="submit">Izmeni boju</button>
        </div>
    </form>
</div>
{% endblock %}
