{% extends "_global/index.html" %}

{% block main %}
    <h2>{{ category.name|escape }} - {{ brand.name|escape }}</h2>
    <p>Spisak proizvoda:</p>
    {% for product in products %}
        <ul>
            <li>
            <a href="{{ BASE }}product/{{ product.product_id }}">
                {{ product.title|escape }}              
            </a><br />
            <img src="{{ BASE }}assets/uploads/{{ product.path }}" alt="Slika - {{ product.title }}">
            <p>{{ product.description|escape }}</p>
            <label>Cena: {{ product.price }}</label>
        </ul>    
    {% endfor %}
{% endblock %}

{% block title %}
{{ category.name|escape }} - {{ brand.name|escape }}
{% endblock %}